.proyects{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center; 
     margin-top: var(--margin-top-section);
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerCard{
    width: 100%;
    padding: 1rem 0rem;
}
.proyects h2{
    text-align: center;
    letter-spacing: 8px;
    color: white;
    margin-bottom: 110px;
}
.proyects div{
    display: flex;
    justify-content: center;
}
.circle{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
.circle img{
    width: 60%;
    padding: .5rem;
    object-fit: cover;
    user-select: none;
}
.circle img:last-child{
    width: 20%;
}
.hidden {
    visibility: hidden;
}
.circleInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}


.solapa{
    height: 42px;
    width: 170px;
    background-color: var(--background-container);
    border-radius: 10px 10px 0px 0px;
}
/*Animation hover */
.circleInfo:hover  .CircleText{
border: 1px solid #6c3caf;
  }

/*Fin de animation hover*/
.solapa ul{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.solapa ul li{
    margin: 10px;
}
.solapa ul li img{
    height: 30px;
}
.CircleText{
    height: 150px;
    width: 300px;
    background-color: var(--background-container);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.CircleText p{
    margin: 3%;
}
@media  (max-width: 700px) {
  
 .proyects .containerCard{
    flex-direction: column;
    align-items: center;
 }
 .circle{
    width: 80%;
}
.circle img{
    margin-bottom: 1rem;
}
.hidden{
    display: none;
}

    }@media  (max-width: 450px) {
  

        .circle{
           width: 100%;
       }
      
  
    }