.Title{
    color: white;
    font-size: clamp(1rem, 0.1045rem + 3.5821vw, 1.8rem);
    padding: 0rem 2rem;
    margin: 30vh 0;
    text-align: center;
    font-family: 'Koulen';
    letter-spacing: 0;
}
.Title>*{
  
    margin-bottom: clamp(0rem, -2.8rem + 12.8vw, 2rem);
}
.Title .name{
    font-size: clamp(1rem, -4.1429rem + 18.2857vw, 6rem);
}

