.Title{
    color: white;
    
    padding: 0rem 1rem;
    margin: 30vh 0;
    text-align: center;
    font-family: 'Koulen';
    letter-spacing: 0;
    width: 100%;
}
.Title>*{
  
    margin-bottom: clamp(0rem, -2.8rem + 12.8vw, 1rem);
}
.Title h1:not(.name){
    font-size: clamp(1rem, -1.2857rem + 9.1429vw, 5rem);
}
.Title .name{
    font-size: clamp(1.5rem, -1.3571rem + 11.4286vw, 6.5rem);
}

@media  (max-width: 800px) {
  
 .Title{
    margin: 35vh 0;
 }

  }