
.containerHeader{
  width: 100%;
  color: white;
 
}
.containerHeader nav{
  width: 100%;
}
.containerHeader nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding-inline-start: 0;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  transition: top 0.1s;
  backdrop-filter: blur(3.5px);
 
  
}
.containerHeader nav ul li{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.containerHeader a{
  text-decoration: none;
  color: white;
}
/*Animation*/

.navList li a {
  background-image: linear-gradient(
    to right,
    white 50%,
    white 0%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
 
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 5;
}

.navList li a:before{
  content: '';
    
    background: linear-gradient(9deg, #231681 30%,#6c3caf 70%);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.navList li a:hover {
 background-position: 0;
 
}
.navList li a:hover::before{
  width: 100%;
}
.navList li:nth-child(even){
  padding: 0 3rem ;}
  
  .navMobile{
    display: none;
  }

  @media  (max-width: 800px) {
  
  .containerHeader nav{
    display: none;
  }
  .navMobile{
    display: flex;
  }
    }
  